.columns-4 {
    display: flex;
}

#main .products {
    width: 960px;
    flex-wrap: wrap;
    margin: auto;
}

#main .products .type-product img {
    /*width: 100%;*/
    /*height: 160px;*/
    /*border-radius: 5px;*/
}

.woocommerce-notices-wrapper {
    display: none;
}

.product .add_to_cart_button {
}

.site-main-line * {
    margin: 10px 30px;
    padding: 0;
}

.site-main-line {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 960px;
}

.woocommerce-pagination li {
    display: inline-block;
    margin: 0 5px;
}

.woocommerce-pagination {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

.type-product .onsale {
    position: absolute;
    top: -10px;
    left: 10px;
    color: #fff;
    background-color: #0048ff;
    border-radius: 3px;
    padding: 2px 4px;
    box-shadow: 0 0 20px red;
}

/***************
flip product
***************/
#main .products .type-product {
    background-color: transparent;
    width: 24%;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 2px;
    opacity: 0.99;
}

/* This container is needed to position the front and back side */
.flip-hover-cart-inner {
    position: relative;
    /*width: 300px;*/
    /*height: 200px;*/
    width: 100%;
    height: 100%;
    /*text-align: center;*/
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /*z-index: -1;*/

}

/* Do an horizontal flip when you move the mouse over the flip box container */
#main .products .type-product:hover .flip-hover-cart-inner {
    /*z-index: 100;*/
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-hover-cart-front, .flip-hover-cart-back {
    position: absolute;
    /*width: 300px;*/
    /*height: 400px;*/
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-hover-cart-front {
    background-color: #ced0d0;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Style the back side */
.flip-hover-cart-back {
    border-top: 3px solid #0F9095;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
    border-radius: 7px;
    height: 105%;
    width: 110%;
    left: -5%;
    transform: rotateY(180deg);
}

.flip-hover-cart-back .price {
    font-size: 20px;
}

#main .products .type-product:hover {
    z-index: 100;
}

.woocommerce-breadcrumb {
    text-align: center;
    margin: 10px auto;
}

/*
Single Product
*/
.woocommerce-products-header .sparrow-main-product {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;

}

.woocommerce-products-header .sparrow-main-product .sparrow-main-product-block {
    width: 960px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 auto;*/
}

.woocommerce-products-header .sparrow-main-product .sparrow-main-product-block #primary {
    display: inline-block;
    width: 70%;
    margin: 0 2%;
    border: 1px solid green;
}

.woocommerce-products-header .sparrow-main-product .sparrow-main-product-block #true-side {
    display: inline-block;
    width: 25%;
    border: 1px solid red;
}

.options_group h2 {
    text-align: center;
}

.sparrow-single-product-header {
    display: flex;
    /*width: 500%;*/
    /*flex-wrap: wrap;*/
    justify-content: space-between;
}

.sparrow-single-product-header h1 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    /*width: 50%;*/
}

.sparrow-single-product-header .sparrow-single-product-header-left {
    display: inline-block;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
    /*width: 30%;*/
}
.sparrow-single-product-header .sparrow-single-product-header-left p{
    margin-bottom: 0;
}

