/*
Theme Name: Sparrow
*/
ul#nav li.current-menu-item a {
    color: #fff !important;
}

/* adds down arrow */
ul#nav .menu-item-has-children:after {
    width: 0;
    height: 0px;
    border: 4px solid transparent;
    border-bottom: none;
    border-top-color: #8a8383;
    content: '';
    top: 0;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: 5px;
}

ul#nav .current-menu-item.menu-item-has-children:after,
ul#nav .menu-item-has-children:hover:after {
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom: 4px solid #fff;
    content: '';
    top: -2px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.footer-nav li:after {
    content: '.';
}

/* Link list */
#sidebar .widget_categories {
    margin: 12px 0 18px 0;
    padding: 0;
}

#sidebar .widget_categories li {
    line-height: 24px;
}

#sidebar .widget_categories li a {
    border: none;
    color: #838C95;
}

#sidebar .widget_categories li.current-cat a:hover,
#sidebar .widget_categories li a:hover {
    color: #313131;
}

#sidebar .widget_categories li.current-cat a {
    color: #ae739f;
}
